
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/m-piro/v17/.wsuo
.vs/m-piro/FileContentIndex/952eaa8c-7486-48f1-b34c-68182bd53d9e.vsidx
.vs/m-piro/FileContentIndex/8dcb7000-896f-4b10-a9fa-67e37f30cea0.vsidx
.vs/m-piro/FileContentIndex/faeaed76-15b1-4a2e-ab36-24c8b5cd7d52.vsidx
.vs/m-piro/FileContentIndex/0ac2ec4b-0cc4-4218-8e70-9c74d7c00cb1.vsidx
